.gallery-container {
    box-sizing: border-box;
    display: flex;
    margin: 10%;
    margin-bottom: 0%;
}

.gallery-list {
    display: flex;
    flex-direction: column;
}

.poem-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;

}
.poem-container Link {
    width: 100%;
    height: auto;
    
}
.poem-container img {
    width: 100%;
    height: auto;
}

.poem-container:hover {
    box-shadow:  9px 9px 18px #ababab,
             -9px -9px 18px #ffffff;
}

.poem-container img {
    width: 100%;
}



/* DESKTOP */
@media only screen and (min-width: 600px) {
    .gallery-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .poem-container {
        width: 40%;
        margin-bottom: 20%;
        
    }
    .poem-container img {
        width: 100%;
    }
}